footer {
    border-top: 1px solid $verde_dark_btn;
    position: relative;
    bottom: 0;
    .footer-block {
        text-align: center;
        margin-bottom: 40px;
        .nome-sistema{
            float: left;
            margin-top: 20px;
            color: #989898;
        }
        
        .nome-empresa{
            float: right;
            margin-top: 20px;
            color: #989898;
        }
        .fa-facebook-official{
            margin-top: 15px;
        }
    }
}
